<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><b>Aviones y vuelos</b></a>
  <a class="navbar-brand" href="http://localhost:4200/dashboard">Lista de aviones</a>
  <a class="navbar-brand" href="http://localhost:4200/listas">Lista de vuelos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
<br><br>