<app-header></app-header>


<div class="container">

    <h3>Lista de vuelos</h3><br>

    <button type="button" class="btn btn-dark" (click)="nuevoVuelo()">Nuevo vuelo</button><br><br>


    <div class="form-group col-md-2">
      Buscar por ID
      <input type="text" class="form-control" id="inputId" placeholder="ID vuelo">
      <button type="submit" (click)="buscarVuelo()" class="btn btn-dark">Buscar</button>
    </div>
<br>


    <table class="table table-hover">
     
    

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">ID del avión</th>
        <th scope="col">Hora de salida</th>
        <th scope="col">Hora de llegada</th>
        <th scope="col">Número de pasajeros</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vuelo of vuelos" >
        <th scope="row">{{ vuelo.id }}</th>
        <td>{{ vuelo.origen }}</td>
        <td>{{ vuelo.destino }}</td>
        <td>{{ vuelo.id }}</td>
        <td>{{ vuelo.horaSalida }}</td>
        <td>{{ vuelo.horaLlegada }}</td>
        <td>{{ vuelo.numPasajeros }}</td>
        <td><button type="button" class="btn btn-danger" (click)="eliminarVuelo(vuelo.id)">Eliminar</button></td>
      </tr> 
    </tbody>
  </table>
</div>

<!-- (click)="editarAvion(avion.id)" -->

<app-footer></app-footer>